<section class="section advantages">
  <div class="container advantages-container">
    <h3 class="advantages-subtext">Переваги</h3>
    <h2 class="advantages-title" id="advantages-anchor">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /img/advantages/advantages-mobile-1.jpg    1x,
              /img/advantages/advantages-mobile-1@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /img/advantages/advantages-tablet-1.jpg    1x,
              /img/advantages/advantages-tablet-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/advantages/advantages-desktop-1.jpg    1x,
              /img/advantages/advantages-desktop-1@2x.jpg 2x
            "
          />
          <img
            src="/img/advantages/advantages-mobile-1.jpg"
            alt="Photo of materials for making products"
            width="288"
            height="198"
            class="advantages-img"
          />
        </picture>
        <h3 class="advantages-item-title">Стійкість та екологічність</h3>
        <p class="advantages-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /img/advantages/advantages-mobile-2.jpg    1x,
              /img/advantages/advantages-mobile-2@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /img/advantages/advantages-tablet-2.jpg    1x,
              /img/advantages/advantages-tablet-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/advantages/advantages-desktop-2.jpg    1x,
              /img/advantages/advantages-desktop-2@2x.jpg 2x
            "
          />
          <img
            src="/img/advantages/advantages-mobile-2.jpg"
            alt="Photo of the bag sewing process"
            width="288"
            height="198"
            class="advantages-img"
          />
        </picture>
        <h3 class="advantages-item-title">Міцність і довговічність</h3>
        <p class="advantages-item-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item full">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /img/advantages/advantages-mobile-3.jpg    1x,
              /img/advantages/advantages-mobile-3@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /img/advantages/advantages-tablet-3.jpg    1x,
              /img/advantages/advantages-tablet-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/advantages/advantages-desktop-3.jpg    1x,
              /img/advantages/advantages-desktop-3@2x.jpg 2x
            "
          />
          <img
            src="/img/advantages/advantages-mobile-3.jpg"
            alt="Photo of bags of different colors"
            width="288"
            height="198"
            class="advantages-img"
          />
        </picture>
        <h3 class="advantages-item-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-item-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
