<section class="section assortment-section">
  <div class="container">
    <h2 id="assortment-anchor" class="assortment-main-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-bag-desktop.jpg    1x,
                /img/assortment/eco-bag-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/eco-bag-tablet.jpg    1x,
                /img/assortment/eco-bag-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/eco-bag-mobile.jpg    1x,
                /img/assortment/eco-bag-mobile@2x.jpg 2x
              "
            />
            <img
              src="/img/assortment/eco-bag-mobile.jpg"
              alt="EcoBag Classic"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoBag Classic</h3>
          <p class="assortment-text">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <p class="price">$25</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-tote-desktop.jpg    1x,
                /img/assortment/eco-tote-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/eco-tote-tablet.jpg    1x,
                /img/assortment/eco-tote-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/eco-tote-mobile.jpg    1x,
                /img/assortment/eco-tote-mobile@2x.jpg 2x
              "
            />
            <img
              src="/img/assortment/eco-tote-mobile.jpg"
              alt="EcoTote Shopper"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoTote Shopper</h3>
          <p class="assortment-text">
            Ідеальна для покупок,<br />з посиленими ручками.
          </p>
          <p class="price">$30</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-back-pack-desktop.jpg    1x,
                /img/assortment/eco-back-pack-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/ecoback-pack-tablet.jpg    1x,
                /img/assortment/ecoback-pack-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/ecoback-pack-mobile.jpg    1x,
                /img/assortment/ecoback-pack-mobile@2x.jpg 2x
              "
            />

            <img
              src="/img/assortment/ecoback-pack-mobile.jpg"
              alt="EcoBackpack Urban"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoBackpack Urban</h3>
          <p class="assortment-text">
            Зручний рюкзак для міста з відділенням для ноутбука.
          </p>
          <p class="price">$45</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-crossbody-desktop.jpg    1x,
                /img/assortment/eco-crossbody-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/eco-crossbody-tablet.jpg    1x,
                /img/assortment/eco-crossbody-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/eco-crossbody-mobile.jpg    1x,
                /img/assortment/eco-crossbody-mobile@2x.jpg 2x
              "
            />

            <img
              src="/img/assortment/eco-crossbody-mobile.jpg"
              alt="EcoCrossbody Mini"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoCrossbody Mini</h3>
          <p class="assortment-text">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <p class="price">$20</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-lunch-desktop.jpg    1x,
                /img/assortment/eco-lunch-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/eco-lunch-tablet.jpg    1x,
                /img/assortment/eco-lunch-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/eco-lunch-mobile.jpg    1x,
                /img/assortment/eco-lunch-mobile@2x.jpg 2x
              "
            />

            <img
              src="/img/assortment/eco-lunch-mobile.jpg"
              alt="EcoLunch Bag"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoLunch Bag</h3>
          <p class="assortment-text">Стильна та практична сумка для обідів.</p>
          <p class="price">$15</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-beach-desktop.jpg    1x,
                /img/assortment/eco-beach-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/eco-beach-tablet.jpg    1x,
                /img/assortment/eco-beach-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/eco-beach-mobile.jpg    1x,
                /img/assortment/eco-beach-mobile@2x.jpg 2x
              "
            />

            <img
              src="/img/assortment/eco-beach-mobile.jpg"
              alt="EcoBeach Tote"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoBeach Tote</h3>
          <p class="assortment-text">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <p class="price">$35</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-travel-desktop.jpg    1x,
                /img/assortment/eco-travel-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/eco-travel-tablet.jpg    1x,
                /img/assortment/eco-travel-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/eco-travel-mobile.jpg    1x,
                /img/assortment/eco-travel-mobile@2x.jpg 2x
              "
            />

            <img
              src="/img/assortment/eco-travel-mobile.jpg"
              alt="EcoTravel Duffle"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoTravel Duffle</h3>
          <p class="assortment-text">
            Містка дорожня сумка з додатковими <br class="tablet-only" />
            кишенями.
          </p>
          <p class="price">$60</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
      <li class="assortment-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/eco-kids-desktop.jpg    1x,
                /img/assortment/eco-kids-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/eco-kids-tablet.jpg    1x,
                /img/assortment/eco-kids-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/eco-kids-mobile.jpg    1x,
                /img/assortment/eco-kids-mobile@2x.jpg 2x
              "
            />

            <img
              src="/img/assortment/eco-kids-mobile.jpg"
              alt="EcoKids Bag"
              width="288"
              height="346"
              class="img-size"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-title">EcoKids Bag</h3>
          <p class="assortment-text">Яскрава та зручна сумка для дітей.</p>
          <p class="price">$22</p>
          <button class="btn-buy" type="button">Купити</button>
        </div>
      </li>
    </ul>
  </div>
</section>
