<!--Feedbacks-->
<section id="feedbacks-anchor" class="section feedbacks-section">
  <div class="container feedbacks-container">
    <h2 class="feedbacks-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-card">
        <ul class="feedbacks-icons">
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks-author">Анна</p>
      </li>

      <li class="feedbacks-card">
        <ul class="feedbacks-icons">
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedbacks-author">Ігор</p>
      </li>

      <li class="feedbacks-card">
        <ul class="feedbacks-icons">
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks-author">Олена</p>
      </li>

      <li class="feedbacks-card">
        <ul class="feedbacks-icons">
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="filled-star">
            <svg class="feedbacks-icons-unfilled-stars" width="24" height="24">
              <use href="img/sprite.svg#icon-star-nofill"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks-author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
