<footer class="footer">
  <div class="container section-footer">
    <div class="section-footer-chapter">
      <div class="footer-row">
        <a class="logo" href="./index.html" rel="logo">
          <img
            class="logo-img"
            src="/img/logo/logo.svg"
            width="281"
            height="121"
            alt="EcoTote"
          />
        </a>
        <ul class="footer-nav-list">
          <li class="footer-nav-chapter">
            <a class="footer-chapter-link" href="./index.html#about">Про нас</a>
          </li>
          <li class="footer-nav-chapter">
            <a class="footer-chapter-link" href="./index.html#advantages-anchor"
              >Переваги</a
            >
          </li>
          <li class="footer-nav-chapter">
            <a class="footer-chapter-link" href="./index.html#assortment-anchor"
              >Асортимент</a
            >
          </li>
          <li class="footer-nav-chapter">
            <a class="footer-chapter-link" href="./index.html#gallery"
              >Галерея</a
            >
          </li>
          <li class="footer-nav-chapter">
            <a class="footer-chapter-link" href="./index.html#feedbacks-anchor"
              >Відгуки</a
            >
          </li>
          <li class="footer-nav-chapter">
            <a class="footer-chapter-link" href="./index.html#contacts"
              >Контакти</a
            >
          </li>
        </ul>
        <div class="media">
          <ul class="social-icons-footer">
            <li>
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="instagram"
                class="link"
              >
                <svg class="icon-chain" width="32" height="32">
                  <use href="/img/sprite.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                rel="linkedin"
                class="link"
              >
                <svg class="icon-chain" width="32" height="32">
                  <use href="/img/sprite.svg#icon-LinkedIn"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/"
                target="_blank"
                rel="youtube"
                class="link"
              >
                <svg class="icon-chain" width="32" height="32">
                  <use href="/img/sprite.svg#icon-Youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <address class="nav-address-footer">
        <ul class="address-footer">
          <li>
            <a
              href="tel:+38(099)9091122"
              target="_blank"
              rel="phone"
              class="contacts-footer"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li>
            <a
              href="mailto:hello@ecotote.com"
              target="_blank"
              rel="email"
              class="contacts-footer"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="text-footer">&copy; 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
