<section class="section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-subtitle">EcoTotes у повсякденному житті</p>

    <ul class="gallery-list">
      <!-- 1 Сумка на стільці -->
      <li class="gallery-item gallery-item-1">
        <picture>
          <source
            srcset="
              img/gallery/gallery-desktop-1.jpg    1x,
              img/gallery/gallery-desktop-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/gallery/gallery-tablet-1.jpg    1x,
              img/gallery/gallery-tablet-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="gallery-img"
            src="img/gallery/gallery-mobile-1.jpg"
            srcset="img/gallery/gallery-mobile-1@2x.jpg 2x"
            alt="Еко-сумка на стільці"
            loading="lazy"
          />
        </picture>
      </li>

      <!-- 2 Чоловік з білою сумкою -->
      <li class="gallery-item gallery-item-2">
        <picture>
          <source
            srcset="
              img/gallery/gallery-desktop-2.jpg    1x,
              img/gallery/gallery-desktop-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/gallery/gallery-tablet-2.jpg    1x,
              img/gallery/gallery-tablet-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="gallery-img"
            src="img/gallery/gallery-mobile-2.jpg"
            srcset="img/gallery/gallery-mobile-2@2x.jpg 2x"
            alt="Чоловік з еко-сумкою"
            loading="lazy"
          />
        </picture>
      </li>

      <!-- 3 Людина зі спини -->
      <li class="gallery-item gallery-item-3">
        <picture>
          <source
            srcset="
              img/gallery/gallery-desktop-3.jpg    1x,
              img/gallery/gallery-desktop-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/gallery/gallery-tablet-3.jpg    1x,
              img/gallery/gallery-tablet-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="gallery-img"
            src="img/gallery/gallery-mobile-3.jpg"
            srcset="img/gallery/gallery-mobile-3@2x.jpg 2x"
            alt="Жінка еко-сумкою"
            loading="lazy"
          />
        </picture>
      </li>

      <!-- 4 Жінка з овочами -->
      <li class="gallery-item gallery-item-4">
        <picture>
          <source
            srcset="
              img/gallery/gallery-desktop-4.jpg    1x,
              img/gallery/gallery-desktop-4@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/gallery/gallery-tablet-4.jpg    1x,
              img/gallery/gallery-tablet-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="gallery-img"
            src="img/gallery/gallery-mobile-4.jpg"
            srcset="img/gallery/gallery-mobile-4@2x.jpg 2x"
            alt="Жінка з еко-сумкою"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
