<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html" rel="logo">
        <img
          class="header-logo-img"
          src="/img/logo/logo.svg"
          alt="header-logo"
          width="84"
          height="36"
        />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html#about">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html#advantages-anchor"
            >Переваги</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html#assortment-anchor"
            >Асортимент</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html#gallery">Галерея</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html#feedbacks-anchor"
            >Відгуки</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html#contacts">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li class="header-contacts-item">
          <a
            class="header-contacts-link"
            href="tel:+38099901122"
            target="_blank"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="header-contacts-item">
          <a
            class="header-contacts-link"
            href="mailto:hello@ecotote.com"
            target="_blank"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <button class="burger-button" type="button">
      <svg class="burger-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="navbar">
    <div class="navbar-logo-close-container">
      <a class="header-logo" href="./index.html" rel="logo">
        <img
          class="header-logo-img"
          src="./img/logo/logo.svg"
          alt="header-logo"
        />
      </a>
      <button class="navbar-close-button" type="button">
        <svg class="navbar-close-button-svg" width="32" height="32">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="navbar-nav-container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html#about">Про нас</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html#advantages-anchor"
            >Переваги</a
          >
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html#assortment-anchor"
            >Асортимент</a
          >
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html#gallery">Галерея</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html#feedbacks-anchor"
            >Відгуки</a
          >
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="./index.html#contacts">Контакти</a>
        </li>
      </ul>
    </div>
    <div class="navbar-contacts-container">
      <address class="navbar-contacts">
        <ul class="navbar-contacts-list">
          <li class="navbar-contacts-item">
            <a class="navbar-contacts-link" href="tel:+38099901122"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="navbar-contacst-item">
            <a class="navbar-contacts-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
