<section class="section support-section">
  <div class="container support">
    <div class="form-wrapper">
      <div class="title-wrapper">
        <h2 id="contacts" class="contacts-main-title">Залишились питання? Зв'яжіться з нами!
        </h2>
        <h3 class="contacts-title">Ми тут, щоб допомогти!</h3>
      </div>
      <form class="contacts-form">
        <label class="contacts-label" for="name">Ім'я</label>
        <input id="name" type="text" class="contacts-input" name="name" placeholder="Іван" minlength="5" maxlength="64">
       <label class="contacts-label" for="email">
        Електронна пошта
      </label>
      <input id="email" type="email" class="input-email" name="email" placeholder="hello@ecotote.com"
      pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
      <p class="text-valid">Succes!</p>
      <p class="text-invalid">Invalid email, try again</p>
      <label class="contacts-label" for="message">Повідомлення</label>
      <textarea id="message" class="contacts-textarea" placeholder="Введіть своє повідомлення..." 
      maxlength="500"></textarea>
      <button class="form-btn" type="submit">Надіслати</button>
      </form>
    </div>
    <div class="contacts-image-wrapper"></div>
  </div>
</section>
